body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}

input {
    padding: 24px;
    font-size: 24px;

    border: 4px solid pink;
    border-radius: 4px;
}

button {
    padding: 24px;
    border: 4px solid pink;
    border-radius: 4px;
    font-size: 24px;
    background-color: pink;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.gameboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.marked {
    border: 4px solid pink;
    background-color: pink;
    border-radius: 4px;
    padding: 10px;
}

.answer {
    padding: 10px;
    border: 4px solid pink;
    border-radius: 4px;
    display: block;
}

.cardDiv {
    padding: 19px;
    background: #fff;
    border: 13px solid #4040ac;
    width: 360px;
    margin: 10px 20px;
    box-shadow: 0 0 5px black, 0 0 5px black, 0 0 15px black;
}

.cardDiv.Entertainment,
.cardDiv.Entertainment\: {
    border: 13px solid #cc53be;
}

.cardDiv.Science,
.cardDiv.Science\:,
.cardDiv.Animals {
    border: 13px solid #4fac40;
}

.cardDiv.Geography,
.cardDiv.Geography\: {
    border: 13px solid #4040ac;
}

.cardDiv.History,
.cardDiv.History\: {
    border: 13px solid #ffe100;
}

.cardDiv.General {
    border-width: 13px;
    border-style: solid;
    border-image: linear-gradient(to right, #2aff55, #ff9500) 1;
}

.cardDiv.Sports,
.cardDiv.Sports\: {
    border: 13px solid #ff5e00;
}

.cardDiv.Art {
    border: 13px solid #9000ff;

}